<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Robert Lin's personal website and blog.">
    <meta name="keywords" content="Robert,rdlin,Robert Lin,Software,Engineering,blog,resume,rdlin259,website">
    <meta name="author" content="Robert Lin">
    <title>Robert Lin - Home</title>
    <link rel="stylesheet" href="/static/css/foundation.css" />
    <link rel="stylesheet" href="/static/css/webicons.css">
    <link rel="stylesheet" href="/static/css/foundation-icons.css" />
    <script src="/static/js/vendor/modernizr.js"></script>
  </head>
  <body>
    <div class="row">
      <div class="large-12 columns" style="margin-top:10px;">
        <div class="nav-bar right">
            <a class="webicon github large" href="http://www.github.com/rdlin">Github</a>
            <a class="webicon linkedin large" href="https://www.linkedin.com/in/rdlin259">LinkedIn</a>
        </div>
        <h1 class='left'> Robert Lin
        </h1>
        <hr/>
      </div>
    </div>
    <div class="row">
      <div class="large-10 medium-10 small-8 columns" role="content">
        <article>
          <div class="row">
            <div class="large-6 small-12 columns" style="text-align:center;">
              <img src="/static/images/profile.jpg"/>
            </div>
            <div class="large-6 small-12 columns"style="text-align:left;">
              <br>
              <p><b>
                Hi, I'm Robert. Welcome to my website!
              </b></p>
              <p>
                I am a 4th year Double Degree CS/BBA student at University of Waterloo and Wilfred Laurier University. I love programming and am passionate about the role that software plays in business.
              </p>
              <p>
                I like to think that I have some pretty interesting views, so check out my <a href="/blog">blog</a> to be entertained for a little while.
              </p>
              <p>
                Currently, I am in San Francisco on a four month Software Engineering internship working for <a href="http://www.minted.com">Minted</a> doing some pretty cool things for independant artists and designers.
              </p>
            </div>
          </div>
        </article>
      </div>
      <aside class="large-2 medium-2 small-4 columns" style="text-align:right;">
        <div class="icon-bar vertical five-up">
          <a class="item">
            <i class="step fi-home size-72"></i>
            <label>Home</label>
          </a>
          <a class="item" href="/blog">
            <i class="step fi-lightbulb size-72"></i>
            <label>Blog</label>
          </a>
          <a class="item" href="/static/resume/resume.pdf" target="_blank">
            <i class="step fi-page-filled size-72"></i>
            <label>Resume</label>
          </a>
          <a class="item" href="/contact">
            <i class="step fi-mail size-72"></i>
            <label>Contact</label>
          </a>
        </div>
      </aside>
    </div>
    <footer class="row">
      <div class="large-12 columns">
        <hr/>
        <div class="row">
          <div class="large-12 columns" style="text-align:center">
            <p>© Robert Lin</p>
          </div>
        </div>
      </div>
    </footer>
    <script src="static/js/vendor/jquery.js"></script>
    <script src="static/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>